.hero {
  background: url(https://5.imimg.com/data5/SELLER/Default/2022/5/AM/FJ/JJ/111129386/facial-skin-care-1000x1000.jpg) no-repeat center center/cover;
  padding: 100px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.hero p {
  font-size: 2.5rem;
  margin-bottom: 40px;
  z-index: 2;
  position: relative;
}

.hero button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 2;
  position: relative;
}

.hero button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
